:root {
  --font-header: 'Domine', serif;
  --font-body: 'Nunito Sans', sans-serif;
  --font-mono: 'Source Code Pro', monospace;
  --font-size-mini: 1px;
  --font-size-base: 18px;
  --font-size-large: 23px;
  --font-size-xlarge: 28px;
  --color: #503326;
  --color-blockquote: #6b5c52;
  --color-blockquote-border: #e27b58;
  --bkg: #f7f0e8;
  --blue: #2a6f8e;
  --content-max-width: 60ch;
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background-color: var(--bkg);
}

.container {
  display: flex;
  min-height: 100vh;
}

.container > * {
  flex: 1;
}

.container > *:first-child {
  flex: 1;
}

.container > *:nth-child(2) {
  flex: 0 1 60ch;
  max-width: 60ch;
  padding: 0 2rem;
}

.container > *:last-child {
  flex: 2;
}

main {
  margin-bottom: 2rem;
}

h1 {
  font-family: var(--font-header);
  font-size: var(--font-size-xlarge);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--blue);
}

h2 {
  font-family: var(--font-header);
  font-size: var(--font-size-large);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--blue);
}

h3 {
  font-family: var(--font-header);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--blue);
}

p {
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color);
}

blockquote {
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 2px solid var(--color-blockquote-border);
}

blockquote p {
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-blockquote);
  margin-bottom: var(--font-size-base);
}

.home-nav {
  max-width: var(--content-max-width);
  margin: 2rem auto 0 auto;
}

.article-nav {
  max-width: var(--content-max-width);
  margin: 2rem auto 0 auto;
}

.home-header {
  font-family: var(--font-header);
  font-size: var(--font-size-xlarge);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--blue);
  text-decoration: none;
}

.home-link {
  font-family: var(--font-header);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--blue);
  text-decoration: none;
}

.home-link:visited,
.home-link:hover,
.home-link:focus,
.home-link:active {
  color: var(--blue);
  text-decoration: none;
}

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
